<!-- templates/movies/add_movie.html -->

{% extends "base_generic.html" %}

{% block title %}Add Movie{% endblock %}

{% block content %}
<div class="center-content">
    <div class="card">
        <h1 class="mb-4">Add Movie</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.name.label_tag }} {{ form.name }}
                {% if form.name.errors %}
                    <div class="alert alert-danger">{{ form.name.errors }}</div>
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.rating.label_tag }} {{ form.rating }}
                {% if form.rating.errors %}
                    <div class="alert alert-danger">{{ form.rating.errors }}</div>
                {% endif %}
            </div>
            <button type="submit" class="btn btn-primary">Add Movie</button>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
        </form>
    </div>
</div>
{% endblock %}
