{% extends "base_generic.html" %}

{% block title %}Search Movies{% endblock %}
{% block content %}
<div class="card p-5">
    <h1 class="text-center">Search Movies</h1>
    <div class="container">
        <div class="row justify-content-center">
          <div class="col col-md-8 col-sm-12">
            <form method="get" class="row" action="{% url 'movie_search' %}" style="display:inline;">
              <div class="col">
                <input type="text" name="query" class="form-control" placeholder="Enter title, director, or cast..." maxlength="100" required="" id="id_query">
              </div>
              <div class="col text-center mt-3">
                <button type="submit" class="btn btn-light border px-5">Search</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <hr>
    {% if query %}
        <h2>Results for "{{ query }}":</h2>
        <ul>
            {% for movie in results %}
            <li>
                <a href="{% url 'movie_detail' movie.id %}">{{ movie.title }}</a><br>
                <strong>Director:</strong> {{ movie.director }}<br>
                <strong>Cast:</strong> {{ movie.cast }}
            </li>
            {% empty %}
            <p>No movies found matching your query.</p>
            {% endfor %}
        </ul>
    {% endif %}
</div>
{% endblock %}

