{% extends "base_generic.html" %}
{% block title %}Add Movie{% endblock %}

{% block content %}
  <h1 class="mb-4">Add Movie</h1>
  <form method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
    {% csrf_token %}
    <div class="form-group">
      {{ form.title.label_tag }} {{ form.title }}
    </div>
    <div class="form-group">
      {{ form.description.label_tag }} {{ form.description }}
    </div>
    <div class="form-group">
      {{ form.release_date.label_tag }} {{ form.release_date }}
    </div>
    <div class="form-group">
      {{ form.genre.label_tag }} {{ form.genre }}
    </div>
    <div class="form-group">
      {{ form.director.label_tag }} {{ form.director }}
    </div>
    <div class="form-group">
      {{ form.cast.label_tag }} {{ form.cast }}
    </div>
    <div class="form-group">
      {{ form.poster.label_tag }} {{ form.poster }}
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
{% endblock %}
